[user]
	name = Sergey Kasmy
	email = SleeplessSloth79@gmail.com
	signingkey = 324F28DB1BD0D0EC
[alias]
	lg = log --oneline --graph
	lga = log --oneline --all --graph
	exec = "!exec "
[commit]
	gpgsign = true
[core]
	autocrlf = input
