[user]
	name = {{ .personal.name }}
	email = {{ .personal.email }}
{{- if ne .chezmoi.hostname "star" }}
	signingkey = 324F28DB1BD0D0EC

[commit]
	gpgsign = true
{{- else }}

[diff]
	tool = winmerge
[difftool "winmerge"]
	cmd = "/mnt/c/Users/SCASMI/AppData/Local/Programs/WinMerge/WinMergeU.exe" "$(wslpath -aw $LOCAL)" "$(wslpath -aw $REMOTE)"

[merge]
	tool = winmerge
[mergetool "winmerge"]
	cmd = "/mnt/c/Users/SCASMI/AppData/Local/Programs/WinMerge/WinMergeU.exe" "$(wslpath -aw $BASE)" "$(wslpath -aw $LOCAL)" "$(wslpath -aw $REMOTE)" "$(wslpath -aw $MERGED)"

{{- end }}

[core]
	autocrlf = input
	pager = bat -p

[init]
	defaultBranch = main

[alias]
	s = status
	sw = switch
	l = log --graph
	lg = log --oneline --graph
	lga = log --oneline --all --graph
	d = diff
	dc = diff --cached
	dcs = diff --cached --stat
	dt = difftool --tool=nvimdiff
	dtc = difftool --tool=nvimdiff --cached
	a = add
	aa = add -A
	c = commit
	r = restore
	exec = "!exec "
