[Unit]
Description=Check email
BindsTo=graphical-session.target

[Service]
ExecStart=%h/.local/bin/polybar-module-email

[Install]
WantedBy=graphical-session.target
