layout {
	{{ include "dot_config/zellij/layouts/default_container.kdl" }}

	cwd "/home/ciren/dev/projects/pc/fetcher"

	new_tab_template {
		default_container {
			children
		}
	}

	pane_template name="rust-project" split_direction="vertical" {
		// main editor
		pane command="hx" focus=true
		// sidebar with bacon and an empty terminal
		pane size="35%" stacked=true {
			pane command="bacon" expanded=true
			pane
		}
	}
		

	tab name="fetcher" cwd="/home/ciren/dev/projects/pc/fetcher/fetcher" {
		default_container {
			rust-project
		}
	}

	tab name="fetcher-ciren" cwd="/home/ciren/dev/projects/pc/fetcher/fetcher-ciren" {
		default_container {
			rust-project
		}
	}
}
