layout {
	{{ include "dot_config/zellij/layouts/default_container.kdl" }}

	tab name="sysmon" {
		default_container split_direction="vertical" {
			pane stacked=true {
				pane command="btop" focus=true
				pane name="ai btop" {
					command "lxc"
					args "exec" "ai" "--" "btop"
				}
			}
			pane size="33%" {
				command "lxc"
				args "exec" "ai" "--" "amdgpu_top" "--dark"
			}
		}
	}
}
